@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>ÜRÜN ADI</label>
        <input type="text" class="form-control" name="URUNAD" required=""  maxlength="20"/>
    </div>
    <br />

    <div>
        <label>KATEGORİ SEÇİNİZ</label>
       @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
    </div>
    <br />

    <div>
        <label>FİYAT</label>
        <input type="text" class="form-control" name="FIYAT" required="" />
    </div>
    <br />

    <div>
        <label>MARKA</label>
        <input type="text" class="form-control" name="MARKA"  required=""/>
    </div>
    <br />

    <div>
        <label>STOK</label>
        <input type="text" class="form-control" name="STOK" required="" />
    </div>
    <br />

    <button class="btn btn-warning">ÜRÜN EKLE</button>
</form>

